[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flasgger = "*"
flask-marshmallow = "*"
apispec = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
