-i https://pypi.tuna.tsinghua.edu.cn/simple
apispec==5.2.2
attrs==22.1.0; python_version >= '3.5'
click==8.1.3; python_version >= '3.7'
dnspython==2.2.1; python_version >= '3.6' and python_version < '4.0'
email-validator==1.2.1
Faker==14.0.0
flasgger==0.9.5
flask==2.2.2
flask-marshmallow==0.14.0
flask-mongoengine==1.0.0
flask-wtf==1.0.1; python_version >= '3.6'
flask-cors==3.0.10
idna==3.3; python_version >= '3.5'
importlib-metadata==4.12.0; python_version < '3.10'
importlib-resources==5.9.0; python_version < '3.9'
itsdangerous==2.1.2; python_version >= '3.7'
jinja2==3.1.2; python_version >= '3.7'
jsonschema==4.9.1; python_version >= '3.7'
markupsafe==2.1.1; python_version >= '3.7'
marshmallow==3.17.0; python_version >= '3.7'
mistune==2.0.4
mongoengine==0.24.2; python_version >= '3.6'
packaging==21.3; python_version >= '3.6'
pkgutil-resolve-name==1.3.10; python_version < '3.9'
pymongo==4.2.0; python_version >= '3.7'
pyparsing==3.0.9; python_full_version >= '3.6.8'
pyrsistent==0.18.1; python_version >= '3.7'
python-dotenv==0.20.0
pyyaml==6.0; python_version >= '3.6'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
werkzeug==2.2.2; python_version >= '3.7'
wtforms[email]==3.0.1; python_version >= '3.7'
zipp==3.8.1; python_version >= '3.7'
